source/repos/ClientServerApp/ClientServerApp/Connected Services/ServiceReference1/Shop.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://localhost/">
      <s:element name="AdminLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientsTableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="NewClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowAllGoodsOfType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="goodType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowAllGoodsOfTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowAllGoodsOfTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionToClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionToClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clientConnectionString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientBuy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientsTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientBuyResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddOrSubtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientConnection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientsTableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="plus" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrSubtractResponse">
        <s:complexType />
      </s:element>
      <s:element name="FillBasket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionToClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientTable" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBasketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillBasketResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromBasket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableClients" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionToClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromBasketResponse">
        <s:complexType />
      </s:element>
      <s:element name="Hash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdminLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="NewClientSoapIn">
    <wsdl:part name="parameters" element="tns:NewClient" />
  </wsdl:message>
  <wsdl:message name="NewClientSoapOut">
    <wsdl:part name="parameters" element="tns:NewClientResponse" />
  </wsdl:message>
  <wsdl:message name="ShowAllGoodsOfTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ShowAllGoodsOfType" />
  </wsdl:message>
  <wsdl:message name="ShowAllGoodsOfTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ShowAllGoodsOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ShowCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:ShowCatalog" />
  </wsdl:message>
  <wsdl:message name="ShowCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:ShowCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="BuyProductSoapIn">
    <wsdl:part name="parameters" element="tns:BuyProduct" />
  </wsdl:message>
  <wsdl:message name="BuyProductSoapOut">
    <wsdl:part name="parameters" element="tns:BuyProductResponse" />
  </wsdl:message>
  <wsdl:message name="ClientBuySoapIn">
    <wsdl:part name="parameters" element="tns:ClientBuy" />
  </wsdl:message>
  <wsdl:message name="ClientBuySoapOut">
    <wsdl:part name="parameters" element="tns:ClientBuyResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrSubtractSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrSubtract" />
  </wsdl:message>
  <wsdl:message name="AddOrSubtractSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrSubtractResponse" />
  </wsdl:message>
  <wsdl:message name="FillBasketSoapIn">
    <wsdl:part name="parameters" element="tns:FillBasket" />
  </wsdl:message>
  <wsdl:message name="FillBasketSoapOut">
    <wsdl:part name="parameters" element="tns:FillBasketResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFromBasketSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFromBasket" />
  </wsdl:message>
  <wsdl:message name="DeleteFromBasketSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFromBasketResponse" />
  </wsdl:message>
  <wsdl:message name="HashSoapIn">
    <wsdl:part name="parameters" element="tns:Hash" />
  </wsdl:message>
  <wsdl:message name="HashSoapOut">
    <wsdl:part name="parameters" element="tns:HashResponse" />
  </wsdl:message>
  <wsdl:portType name="ShopSoap">
    <wsdl:operation name="AdminLogin">
      <wsdl:input message="tns:AdminLoginSoapIn" />
      <wsdl:output message="tns:AdminLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <wsdl:input message="tns:NewClientSoapIn" />
      <wsdl:output message="tns:NewClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllGoodsOfType">
      <wsdl:input message="tns:ShowAllGoodsOfTypeSoapIn" />
      <wsdl:output message="tns:ShowAllGoodsOfTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCatalog">
      <wsdl:input message="tns:ShowCatalogSoapIn" />
      <wsdl:output message="tns:ShowCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <wsdl:input message="tns:BuyProductSoapIn" />
      <wsdl:output message="tns:BuyProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientBuy">
      <wsdl:input message="tns:ClientBuySoapIn" />
      <wsdl:output message="tns:ClientBuySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrSubtract">
      <wsdl:input message="tns:AddOrSubtractSoapIn" />
      <wsdl:output message="tns:AddOrSubtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillBasket">
      <wsdl:input message="tns:FillBasketSoapIn" />
      <wsdl:output message="tns:FillBasketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromBasket">
      <wsdl:input message="tns:DeleteFromBasketSoapIn" />
      <wsdl:output message="tns:DeleteFromBasketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Hash">
      <wsdl:input message="tns:HashSoapIn" />
      <wsdl:output message="tns:HashSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShopSoap" type="tns:ShopSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="https://localhost/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <soap:operation soapAction="https://localhost/NewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllGoodsOfType">
      <soap:operation soapAction="https://localhost/ShowAllGoodsOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCatalog">
      <soap:operation soapAction="https://localhost/ShowCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="https://localhost/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <soap:operation soapAction="https://localhost/BuyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientBuy">
      <soap:operation soapAction="https://localhost/ClientBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrSubtract">
      <soap:operation soapAction="https://localhost/AddOrSubtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBasket">
      <soap:operation soapAction="https://localhost/FillBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromBasket">
      <soap:operation soapAction="https://localhost/DeleteFromBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hash">
      <soap:operation soapAction="https://localhost/Hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShopSoap12" type="tns:ShopSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminLogin">
      <soap12:operation soapAction="https://localhost/AdminLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <soap12:operation soapAction="https://localhost/NewClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllGoodsOfType">
      <soap12:operation soapAction="https://localhost/ShowAllGoodsOfType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCatalog">
      <soap12:operation soapAction="https://localhost/ShowCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="https://localhost/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <soap12:operation soapAction="https://localhost/BuyProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientBuy">
      <soap12:operation soapAction="https://localhost/ClientBuy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrSubtract">
      <soap12:operation soapAction="https://localhost/AddOrSubtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBasket">
      <soap12:operation soapAction="https://localhost/FillBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromBasket">
      <soap12:operation soapAction="https://localhost/DeleteFromBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hash">
      <soap12:operation soapAction="https://localhost/Hash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Shop">
    <wsdl:port name="ShopSoap" binding="tns:ShopSoap">
      <soap:address location="https://localhost:44308/Shop.asmx" />
    </wsdl:port>
    <wsdl:port name="ShopSoap12" binding="tns:ShopSoap12">
      <soap12:address location="https://localhost:44308/Shop.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>